.container {
  height: 5rem;
  flex: 1;
  background-color: #ffffffbc;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  border-bottom-width: 2px;
  border-right-width: 2px;
}
